{% if learning_spaces %} {% for ls in learning_spaces %}

<style>

  .card {
    background: black;
    border: 1px solid aqua;
    {#color: rgba(250, 250, 250, 0.8);#}
      color: aqua;
    margin-bottom: 3rem;
  }

</style>

<div class="col-md-4">
	<div class="card mb-4 box-shadow">

        <div class="card" >
			<h5 class="card-title" style="text-align: center;">{{ls.title}}</h5>
			<div class="scrollable">
				<p class="card-text">{{ls.description}}</p>
			</div>
			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
					<a
						class="btn btn-sm btn-outline-secondary"
						href="/learning_space/{{ls.id}}"
                        style="justify-content: center"
						>View</a
					>
				</div>
			</div>
		</div>

	</div>
</div>
{% endfor %}{% endif %}

<style>
	.scrollable {
		overflow-y: scroll;
		max-height: 150px;
	}
</style>