{% if subjects %} {% for s in subjects %}
<div class="col-md-4">
	<div class="card mb-4 box-shadow">
		<img
			class="card-img-top"
			style="max-width: 400px; width: 100%"
			src="{{s.filefield.url}}"
			alt="Subject img"
		/>
		<div class="card-body">
			<h2>{{s.title}}</h2>
			<div class="scrollable">
				<p class="card-text">{{s.description}}</p>
			</div>
			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
					<a
						class="btn btn-sm btn-outline-secondary"
						href="/subject/{{s.id}}"
						>View</a
					>
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}{% endif %}

<style>
	.scrollable {
		overflow-y: scroll;
		max-height: 150px;
	}
</style>