{% extends 'base.html' %}

{%  block body %}

    <main role="main" class="container">
			<div class="row">
				<div class="col-md-8">
					<div>
						<div class="card">
							<div
								class="card-header d-flex justify-content-between align-items-center"
							>
{#								<h4 class="my-0 font-weight-normal">Description</h4>#}
								<h4 class="my-0 font-weight-normal">{{ subject.title }}</h4>
                                {% if user_authenticated %}
{#								<button#}
{#									type="button"#}
{#									class="btn btn-md ml-auto btn-outline-success"#}
{#								>#}
{#									Contribute#}
{#								</button>#}
								<br />&nbsp&nbsp<br />
								<a
									class="btn btn-md btn-outline-primary"
									href="/subject_edit/{{subject.id}}"
									>Contribute</a
								>
                                <br />&nbsp&nbsp<br />
								<a
									class="btn btn-md btn-outline-secondary"
									href="/#{{subject.id}}"
									>Discover Other Learning Spaces</a
								>
                                <td><a href="/delete_subject/{{subject.id}}/" class="btn btn-danger">Delete</a></td>
								{% endif %}
							</div>
							<div class="card-body">{{subject.description}}</div>
						</div>

					</div>
				</div>

			</div>
		</main>

{% endblock %}